#markdown img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
}

#markdown #face-bw img {
    float: left;
    border: 2px solid black;
}

#markdown #face-gray img {
    float: right;
    border: 2px solid black;
}

#markdown h3 {
    margin-bottom: 0px;
}
