<footer>

  <!-- ===================== Navigation Menu ===================== -->
  <nav>
    <ul class="nav-bar">

      <!-- About this site -->
      <li><a href="/about-this-site.html#start">About this site</a></li>

      <!-- Licenses -->
      <li><a href="/about-this-site.html#licensing">Licensing</a></li>

      <!-- Sitemap -->
      <li><a href="/about-this-site.html#sitemap">Sitemap</a></li>

      <!-- News -->
      <li><a href="/about-this-site.html#news">News</a></li>

      <!-- Contact me -->
      <li><a href="/about-this-site.html#contact-me">Contact me</a></li>

    </ul>
  </nav>


  <!-- ===================== Contact information ===================== -->
  <address>
    If you find any broken link, typo, grammatical or factual error,
    have any criticisms or suggestions, please don't hesitate to
    contact me at
    <a href="mailto:oitofelix@riseup.net">oitofelix@riseup.net</a>.
  </address>


  <!-- ===================== Logos ===================== -->
  <div id="footer-logos">
    <p>
      <span id="modification-time"><!--#echo var="LAST_MODIFIED"  --></span>

      <span id="logos">
	<a rel="jslicense" href="/about-this-site.html#javascript">
	  <img src="/images/librejs.png"
	       title="JavaScript license information"
	       alt="JavaScript license information"
	       width="72" height="31" /></a>
	<a href="http://validator.w3.org/check?uri=referer">
	  <img src="/images/valid-html5.png"
	       title="Validate HTML5"
	       alt="Valid HTML 5" width="88" height="31" /></a>
	<a href="http://jigsaw.w3.org/css-validator/check/referer">
	  <img src="/images/valid-css.png"
	       title="Validate CSS"
               alt="Valid CSS" width="88" height="31" /></a>
	<a
	   href="http://validator.w3.org/feed/check.cgi?url=http%3A//oitofelix.github.io/feed.xml">
	  <img src="/images/valid-rss.png"
	       title="Validate RSS feed"
	       alt="Valid RSS" /></a>
      </span>
    </p>
  </div>


</footer>
