<h1>OITOFELIX</h1>


<!-- ===================== Search tool ===================== -->

<form id="search-form"
      target="_blank"
      action="https://startpage.com/do/search"
      method="post"
      name="searchsys"
      autocomplete="off"
      onsubmit="javascript:document.searchsys.query.value=document.searchsys.keyword.value;">

  <input id="search-input" name="keyword" />
  <input id="search-image"
	 title="Search this site" alt="Search this site"
	 type="image" src="/images/spacer.png"/>

  <input type="hidden" name="query" />
  <input type="hidden" name="host" value="oitofelix.github.io"/>

</form>




<!-- ===================== Navigation Menu ===================== -->
<nav>
  <ul class="nav-bar">

    <!-- Front page -->
    <li><a href="/">Front page</a></li>

    <!-- About me -->
    <li><a href="/about-me.html">About me</a></li>

    <!-- Curriculum -->
    <li><a href="/curriculum.html">Curriculum</a></li>

    <!-- Public keys -->
    <li><a href="/keys.html">Keys</a></li>

    <!-- Donation -->
    <li><a href="/funding.html">Funding</a></li>

  </ul>
</nav>
