html {
    margin-bottom: 20px;
    background: Beige;
    font-family: sans-serif;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

table {
    width: 100%;
    background-color: darkgray;
    border-collapse: collapse;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: silver;
}

th {
    border: 1px solid black;
    background-color: gray;
}

thead tr th {
    background: dimgray;
}


td {
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    background-color: maroon;
    text-align: center;
    clear: both;
}

h2 {
    background-color: darkred;
}

h3 {
    background-color: darkblue;
}

h4 {
    background-color: darkgreen;
}

h5 {
    background-color: darkcyan;
}

h6 {
    background-color: darkgoldenrod;
}

img {
    vertical-align: middle;
}

hr {
    border: 0px;
    height: 2px;
    background-color: dimgray;
}

footer address {
    border: 1px solid red;
    background-color: antiquewhite;
    padding: 4px;
    margin-top: 20px;
    text-align: center;
}

body > header {
    position: relative;
}

#search-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

#search-image {
    position: absolute;
    top: 3px;
    right: 8px;
    width: 32px;
    height: 32px;
    background: url("/images/magnifier.png") no-repeat;
}

#search-input {
    display: none;
    position: absolute;
    top: 9px;
}

#search-form:hover {
    width: 230px;
    height: 38px;
}

#search-form:hover #search-input {
    display: inherit;
}

#search-form:hover #search-image {
    background: url("/images/startpage.png") no-repeat;
}

#copyright-notice {
    border: 2px solid dimgray;
    background-color: lightgray;
    width: 100%;
    font-style: italic;
    clear: both;
    padding: 0px 20px 0px 20px;
    margin: 20px 0px 20px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#copyright-notice a {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

#footer-logos {
    border-top: 2px solid dimgray;
    margin-top: 20px;
}

#modification-time {
    font-family: monospace;
}

#logos {
    float: right;
}

#markdown #identity table {
    font-family: monospace;
    border: solid black 2px;
}

#markdown #identity table tr td:first-child {
    font-weight: bold;
    background: gray;
}

#markdown #identity table tr:nth-child(odd) td:first-child {
    background: dimgray;
}

#markdown .poem {
    font-family: sans-serif;
    text-align: center;
}
