body > header, body > footer {
    display: none;
}

html {
    background-color: transparent !important;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

p, table, div.no-break {
    page-break-inside: avoid;
}
